.button
{
	cursor: pointer;
    border-radius: 5px;
    background: var(--primary-dark-pink);
    color: var(--primary-white);
    font-size: 1.1rem;
    font-weight: bold;
    transition:transform ease-in 0.2s;
    padding: 10px 15px;
    border: 1.5px solid var(--primary-dark-pink);
}

.button:hover{
    transform:scale(1.1);
    opacity: 0.8;
}

.clear-button{
    border: unset;
    outline: none;
    color: var(--primary-dark-pink);
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    background-color: transparent;
    transition:transform ease-in 0.2s;
}

.clear-button:hover{
    transform:scale(1.1);
    opacity: 0.8;
}